<!--The content below is only a placeholder and can be replaced.-->
<bootstrap-grid>

  <div class="container-fluid">

    <div class="container-fluid test" id="header" [style.height.px]="innerHeight*.05">
      MyWriter
    </div>

    <div class="test" [style.height.px]="innerHeight*.8">
      <app-main [hidden]="( visible != 'main')?true:false"></app-main>
    
      <app-Editor [hidden]="( visible != 'editor')?true:false"></app-Editor>

      <app-Details [hidden]="( visible != 'details')?true:false"></app-Details>
    </div>

    <div class="container-fluid test" id="footer" [style.height.px]="innerHeight*.05">
      Here is the footer
      <button class="btn btn-default" (click)="toogleMode()">Toogle Mode</button>
    </div>

    

  </div>

</bootstrap-grid>
