<div class="container-fluid test" id="main_content">

      <div class="col-sm-12">
        <div id="Intro" class="row">
          Welcome to the writer
        </div>

        <div id="actions" class="row col-sm-12">
          <div id="writer" class="col-sm-6">
            <div>
              From here you will be directed to the editor to 
              continue writing your work.
            </div>
            <button class="btn btn-success btn-lg" style="">Writer</button> 
          </div>
          <div id="details" class="col-sm-6">
            <div>
              From here you can go to the detail managment screen
            </div>
            <button class="btn btn-success btn-lg" >Writer</button> 
          </div>
        </div>
      </div>
      
    </div>